/* purgecss start ignore */
.pattern-checks-sm {
  background-image: repeating-linear-gradient(
      45deg,
      currentColor 25%,
      transparent 25%,
      transparent 75%,
      currentColor 75%,
      currentColor
    ),
    repeating-linear-gradient(
      45deg,
      currentColor 25%,
      transparent 25%,
      transparent 75%,
      currentColor 75%,
      currentColor
    );
  background-position: 0 0, 10px 10px;
  background-size: calc(2 * 10px) calc(2 * 10px);
}
.pattern-checks-md {
  background-image: repeating-linear-gradient(
      45deg,
      currentColor 25%,
      transparent 25%,
      transparent 75%,
      currentColor 75%,
      currentColor
    ),
    repeating-linear-gradient(
      45deg,
      currentColor 25%,
      transparent 25%,
      transparent 75%,
      currentColor 75%,
      currentColor
    );
  background-position: 0 0, 25px 25px;
  background-size: calc(2 * 25px) calc(2 * 25px);
}
.pattern-checks-lg {
  background-image: repeating-linear-gradient(
      45deg,
      currentColor 25%,
      transparent 25%,
      transparent 75%,
      currentColor 75%,
      currentColor
    ),
    repeating-linear-gradient(
      45deg,
      currentColor 25%,
      transparent 25%,
      transparent 75%,
      currentColor 75%,
      currentColor
    );
  background-position: 0 0, 50px 50px;
  background-size: calc(2 * 50px) calc(2 * 50px);
}
.pattern-checks-xl {
  background-image: repeating-linear-gradient(
      45deg,
      currentColor 25%,
      transparent 25%,
      transparent 75%,
      currentColor 75%,
      currentColor
    ),
    repeating-linear-gradient(
      45deg,
      currentColor 25%,
      transparent 25%,
      transparent 75%,
      currentColor 75%,
      currentColor
    );
  background-position: 0 0, 100px 100px;
  background-size: calc(2 * 100px) calc(2 * 100px);
}
.pattern-grid-sm {
  background-image: linear-gradient(currentColor 1px, transparent 1px),
    linear-gradient(to right, currentColor 1px, transparent 1px);
  background-size: 10px 10px;
}
.pattern-grid-md {
  background-image: linear-gradient(currentColor 1px, transparent 1px),
    linear-gradient(to right, currentColor 1px, transparent 1px);
  background-size: 25px 25px;
}
.pattern-grid-lg {
  background-image: linear-gradient(currentColor 1px, transparent 1px),
    linear-gradient(to right, currentColor 1px, transparent 1px);
  background-size: 50px 50px;
}
.pattern-grid-xl {
  background-image: linear-gradient(currentColor 1px, transparent 1px),
    linear-gradient(to right, currentColor 1px, transparent 1px);
  background-size: 100px 100px;
}
.pattern-dots-sm {
  background-image: radial-gradient(currentColor 0.5px, transparent 0.5px);
  background-size: calc(10 * 0.5px) calc(10 * 0.5px);
}
.pattern-dots-md {
  background-image: radial-gradient(currentColor 1px, transparent 1px);
  background-size: calc(10 * 1px) calc(10 * 1px);
}
.pattern-dots-lg {
  background-image: radial-gradient(currentColor 1.5px, transparent 1.5px);
  background-size: calc(10 * 1.5px) calc(10 * 1.5px);
}
.pattern-dots-xl {
  background-image: radial-gradient(currentColor 2px, transparent 2px);
  background-size: calc(10 * 2px) calc(10 * 2px);
}
.pattern-cross-dots-sm {
  background-image: radial-gradient(currentColor 0.5px, transparent 0.5px),
    radial-gradient(currentColor 0.5px, transparent 0.5px);
  background-size: calc(20 * 0.5px) calc(20 * 0.5px);
  background-position: 0 0, calc(10 * 0.5px) calc(10 * 0.5px);
}
.pattern-cross-dots-md {
  background-image: radial-gradient(currentColor 1px, transparent 1px),
    radial-gradient(currentColor 1px, transparent 1px);
  background-size: calc(20 * 1px) calc(20 * 1px);
  background-position: 0 0, calc(10 * 1px) calc(10 * 1px);
}
.pattern-cross-dots-lg {
  background-image: radial-gradient(currentColor 1.5px, transparent 1.5px),
    radial-gradient(currentColor 1.5px, transparent 1.5px);
  background-size: calc(20 * 1.5px) calc(20 * 1.5px);
  background-position: 0 0, calc(10 * 1.5px) calc(10 * 1.5px);
}
.pattern-cross-dots-xl {
  background-image: radial-gradient(currentColor 2px, transparent 2px),
    radial-gradient(currentColor 2px, transparent 2px);
  background-size: calc(20 * 2px) calc(20 * 2px);
  background-position: 0 0, calc(10 * 2px) calc(10 * 2px);
}
.pattern-vertical-lines-sm {
  background-image: repeating-linear-gradient(
    to right,
    currentColor,
    currentColor 1px,
    transparent 1px,
    transparent
  );
  background-size: 10px 10px;
}
.pattern-horizontal-lines-sm {
  background-image: repeating-linear-gradient(
    0deg,
    currentColor,
    currentColor 1px,
    transparent 1px,
    transparent
  );
  background-size: 10px 10px;
}
.pattern-diagonal-lines-sm {
  background-image: repeating-linear-gradient(
    45deg,
    currentColor 0,
    currentColor 1px,
    transparent 0,
    transparent 50%
  );
  background-size: 10px 10px;
}
.pattern-vertical-lines-md {
  background-image: repeating-linear-gradient(
    to right,
    currentColor,
    currentColor 1px,
    transparent 1px,
    transparent
  );
  background-size: 25px 25px;
}
.pattern-horizontal-lines-md {
  background-image: repeating-linear-gradient(
    0deg,
    currentColor,
    currentColor 1px,
    transparent 1px,
    transparent
  );
  background-size: 25px 25px;
}
.pattern-diagonal-lines-md {
  background-image: repeating-linear-gradient(
    45deg,
    currentColor 0,
    currentColor 1px,
    transparent 0,
    transparent 50%
  );
  background-size: 25px 25px;
}
.pattern-vertical-lines-lg {
  background-image: repeating-linear-gradient(
    to right,
    currentColor,
    currentColor 1px,
    transparent 1px,
    transparent
  );
  background-size: 50px 50px;
}
.pattern-horizontal-lines-lg {
  background-image: repeating-linear-gradient(
    0deg,
    currentColor,
    currentColor 1px,
    transparent 1px,
    transparent
  );
  background-size: 50px 50px;
}
 .pattern-diagonal-lines-lg {
  background-image: repeating-linear-gradient(
    45deg,
    currentColor 0,
    currentColor 1px,
    transparent 0,
    transparent 50%
  );
  background-size: 50px 50px;
}
/* 
.pattern-diagonal-lines-lg {
  background-image: repeating-linear-gradient(
    67deg,
    currentColor -20px,
    currentColor 1px,
    transparent 50%,
    transparent 0%
  );
  background-size: 50px 50px;
  background-position: 0 0;
} */

.pattern-vertical-lines-xl {
  background-image: repeating-linear-gradient(
    to right,
    currentColor,
    currentColor 1px,
    transparent 1px,
    transparent
  );
  background-size: 100px 100px;
}
.pattern-horizontal-lines-xl {
  background-image: repeating-linear-gradient(
    0deg,
    currentColor,
    currentColor 1px,
    transparent 1px,
    transparent
  );
  background-size: 100px 100px;
}
.pattern-diagonal-lines-xl {
  background-image: repeating-linear-gradient(
    45deg,
    currentColor 0,
    currentColor 1px,
    transparent 0,
    transparent 50%
  );
  background-size: 100px 100px;
}
.pattern-vertical-stripes-sm {
  background-image: linear-gradient(90deg, transparent 50%, currentColor 50%);
  background-size: 10px 10px;
}
.pattern-horizontal-stripes-sm {
  background-image: linear-gradient(0deg, transparent 50%, currentColor 50%);
  background-size: 10px 10px;
}
.pattern-diagonal-stripes-sm {
  background: repeating-linear-gradient(
    45deg,
    transparent,
    transparent 10px,
    currentColor 10px,
    currentColor calc(2 * 10px)
  );
}
.pattern-vertical-stripes-md {
  background-image: linear-gradient(90deg, transparent 50%, currentColor 50%);
  background-size: 25px 25px;
}
.pattern-horizontal-stripes-md {
  background-image: linear-gradient(0deg, transparent 50%, currentColor 50%);
  background-size: 25px 25px;
}
.pattern-diagonal-stripes-md {
  background: repeating-linear-gradient(
    45deg,
    transparent,
    transparent 25px,
    currentColor 25px,
    currentColor calc(2 * 25px)
  );
}
.pattern-vertical-stripes-lg {
  background-image: linear-gradient(90deg, transparent 50%, currentColor 50%);
  background-size: 50px 50px;
}
.pattern-horizontal-stripes-lg {
  background-image: linear-gradient(0deg, transparent 50%, currentColor 50%);
  background-size: 50px 50px;
}
.pattern-diagonal-stripes-lg {
  background: repeating-linear-gradient(
    45deg,
    transparent,
    transparent 50px,
    currentColor 50px,
    currentColor calc(2 * 50px)
  );
}
.pattern-vertical-stripes-xl {
  background-image: linear-gradient(90deg, transparent 50%, currentColor 50%);
  background-size: 100px 100px;
}
.pattern-horizontal-stripes-xl {
  background-image: linear-gradient(0deg, transparent 50%, currentColor 50%);
  background-size: 100px 100px;
}
.pattern-diagonal-stripes-xl {
  background: repeating-linear-gradient(
    45deg,
    transparent,
    transparent 100px,
    currentColor 100px,
    currentColor calc(2 * 100px)
  );
}
.pattern-zigzag-sm {
  background: linear-gradient(135deg, currentColor 25%, transparent 25%) -10px 0,
    linear-gradient(225deg, currentColor 25%, transparent 25%) -10px 0,
    linear-gradient(315deg, currentColor 25%, transparent 25%),
    linear-gradient(45deg, currentColor 25%, transparent 25%);
  background-size: calc(2 * 10px) calc(2 * 10px);
}
.pattern-zigzag-md {
  background: linear-gradient(135deg, currentColor 25%, transparent 25%) -25px 0,
    linear-gradient(225deg, currentColor 25%, transparent 25%) -25px 0,
    linear-gradient(315deg, currentColor 25%, transparent 25%),
    linear-gradient(45deg, currentColor 25%, transparent 25%);
  background-size: calc(2 * 25px) calc(2 * 25px);
}
.pattern-zigzag-lg {
  background: linear-gradient(135deg, currentColor 25%, transparent 25%) -50px 0,
    linear-gradient(225deg, currentColor 25%, transparent 25%) -50px 0,
    linear-gradient(315deg, currentColor 25%, transparent 25%),
    linear-gradient(45deg, currentColor 25%, transparent 25%);
  background-size: calc(2 * 50px) calc(2 * 50px);
}
.pattern-zigzag-xl {
  background: linear-gradient(135deg, currentColor 25%, transparent 25%) -100px 0,
    linear-gradient(225deg, currentColor 25%, transparent 25%) -100px 0,
    linear-gradient(315deg, currentColor 25%, transparent 25%),
    linear-gradient(45deg, currentColor 25%, transparent 25%);
  background-size: calc(2 * 100px) calc(2 * 100px);
}
.pattern-triangles-sm {
  background-image: linear-gradient(45deg, currentColor 50%, transparent 50%);
  background-size: 10px 10px;
}
.pattern-triangles-md {
  background-image: linear-gradient(45deg, currentColor 50%, transparent 50%);
  background-size: 25px 25px;
}
.pattern-triangles-lg {
  background-image: linear-gradient(45deg, currentColor 50%, transparent 50%);
  background-size: 50px 50px;
}
.pattern-triangles-xl {
  background-image: linear-gradient(45deg, currentColor 50%, transparent 50%);
  background-size: 100px 100px;
}
.text-pattern {
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.pattern-w-sm {
  width: 10px;
}
.pattern-h-sm {
  height: 10px;
}
.pattern-w-md {
  width: 25px;
}
.pattern-h-md {
  height: 25px;
}
.pattern-w-lg {
  width: 50px;
}
.pattern-h-lg {
  height: 50px;
}
.pattern-w-xl {
  width: 100px;
}
.pattern-h-xl {
  height: 100px;
}


.mdjlaPattern {
  background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M54.627 0l.83.828-1.415 1.415L51.8 0h2.827zM5.373 0l-.83.828L5.96 2.243 8.2 0H5.374zM48.97 0l3.657 3.657-1.414 1.414L46.143 0h2.828zM11.03 0L7.372 3.657 8.787 5.07 13.857 0H11.03zm32.284 0L49.8 6.485 48.384 7.9l-7.9-7.9h2.83zM16.686 0L10.2 6.485 11.616 7.9l7.9-7.9h-2.83zm20.97 0l9.315 9.314-1.414 1.414L34.828 0h2.83zM22.344 0L13.03 9.314l1.414 1.414L25.172 0h-2.83zM32 0l12.142 12.142-1.414 1.414L30 .828 17.272 13.556l-1.414-1.414L28 0h4zM.284 0l28 28-1.414 1.414L0 2.544V0h.284zM0 5.373l25.456 25.455-1.414 1.415L0 8.2V5.374zm0 5.656l22.627 22.627-1.414 1.414L0 13.86v-2.83zm0 5.656l19.8 19.8-1.415 1.413L0 19.514v-2.83zm0 5.657l16.97 16.97-1.414 1.415L0 25.172v-2.83zM0 28l14.142 14.142-1.414 1.414L0 30.828V28zm0 5.657L11.314 44.97 9.9 46.386l-9.9-9.9v-2.828zm0 5.657L8.485 47.8 7.07 49.212 0 42.143v-2.83zm0 5.657l5.657 5.657-1.414 1.415L0 47.8v-2.83zm0 5.657l2.828 2.83-1.414 1.413L0 53.456v-2.83zM54.627 60L30 35.373 5.373 60H8.2L30 38.2 51.8 60h2.827zm-5.656 0L30 41.03 11.03 60h2.828L30 43.858 46.142 60h2.83zm-5.656 0L30 46.686 16.686 60h2.83L30 49.515 40.485 60h2.83zm-5.657 0L30 52.343 22.343 60h2.83L30 55.172 34.828 60h2.83zM32 60l-2-2-2 2h4zM59.716 0l-28 28 1.414 1.414L60 2.544V0h-.284zM60 5.373L34.544 30.828l1.414 1.415L60 8.2V5.374zm0 5.656L37.373 33.656l1.414 1.414L60 13.86v-2.83zm0 5.656l-19.8 19.8 1.415 1.413L60 19.514v-2.83zm0 5.657l-16.97 16.97 1.414 1.415L60 25.172v-2.83zM60 28L45.858 42.142l1.414 1.414L60 30.828V28zm0 5.657L48.686 44.97l1.415 1.415 9.9-9.9v-2.828zm0 5.657L51.515 47.8l1.414 1.413 7.07-7.07v-2.83zm0 5.657l-5.657 5.657 1.414 1.415L60 47.8v-2.83zm0 5.657l-2.828 2.83 1.414 1.413L60 53.456v-2.83zM39.9 16.385l1.414-1.414L30 3.658 18.686 14.97l1.415 1.415 9.9-9.9 9.9 9.9zm-2.83 2.828l1.415-1.414L30 9.313 21.515 17.8l1.414 1.413 7.07-7.07 7.07 7.07zm-2.827 2.83l1.414-1.416L30 14.97l-5.657 5.657 1.414 1.415L30 17.8l4.243 4.242zm-2.83 2.827l1.415-1.414L30 20.626l-2.828 2.83 1.414 1.414L30 23.456l1.414 1.414zM56.87 59.414L58.284 58 30 29.716 1.716 58l1.414 1.414L30 32.544l26.87 26.87z' fill='%23dddddd' fill-opacity='0.05' fill-rule='evenodd'/%3E%3C/svg%3E");
  background-size: cover;
  @apply bg-fixed;
}

/*# sourceMappingURL=pattern.min.css.map */

/* purgecss end ignore */